<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
    <link rel="stylesheet" href="~/StyleSheet.css">

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>
            Chef Basil's School for Exquisit Pizza Propogation
        </h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <section class="footer">
        <h4>
            &copy;2017 | Gregory Dukes 
        </h4>
    </section>
</body>
</html>
