<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 style="color: white; font-size: 20pt">U.A. High School</h1>
    <div class="mainDiv">
        @RenderBody()
    </div>
</body>

</html>