
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Hogwarts School of Witchcraft and Code</h2>
<p>Please beware of hobgoblins and cyber-faeries.</p>

<p>To view a list of students or register a new student, please follow this <a asp-controller="Register" asp-action="Index">link</a>.</p>

