
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Hogwarts School of Witchcraft and Code</h2>
<p>Please beware of hobgoblins and cyber-faeries as you proceed through the site.</p>
<p>To view the student registry, please follow this <a>link</a></p>

