@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to the student enrollment site.</h2><br />
<p>This is the student enrollment site for your school.  Please use the link below to enroll a student.</p><br />
<a asp-action="index" asp-controller="Registers">Enroll here</a>