@model Lab15Cameron.Models.Players

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The School of Hoops</h1>

@Html.Partial("_HoopStars", Model)
<br />
<br />
<h3><a href="~/Players">REGISTER</a></h3>
