
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Welcome to Hogwarts School of Witchcraft and Code</h2>
<p>Please beware of hobgoblins and cyber-faeries.</p>

<p>To view the list of current students, please click this <a asp-controller="Registry" asp-action="Index">link</a></p>

@Html.Partial("MyPartial")

