
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>School Page</title>
    <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
    <h1>Welcome to Chef Basil's Pizza School!</h1>
    </div>
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
        <h2>Press the button below to register for a class</h2>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="div">
        <a href="/students" class="btn-primary" >Students</a>
    </div>
</body>
</html>